.App {
  height: 110vh;
  padding-top: 5px;
  background-color: black;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calcu-conte {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #778899;
  border-radius: 20px;
  border: 15px solid white;
}

.fila {
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}